footer#footer.text-white
  #footer-top.container.d-flex.align-items-center.justify-content-center
    .row.d-flex.align-items-center.w-100
      .col-md-3.align-self-start.mb-4
        img(src=require("@images/SQ.svg"))

      .col-md-3.align-self-start.d-none.d-md-block
        h5.footer-cat-title.mb-4 SITEMAP
        .footer-cat-list
          a(href="#") 關於我們
          a(href="#") 服務介紹
          a(href="#") 合作案例
          a(href="#") 專業團隊
          a(href="#") 作品總集
          a(href="#") 策略聯盟
          a(href="#") facebook

      .col-md-3.align-self-start
        h5.footer-cat-title.mb-4 CONTACT
        .footer-cat-list
          a(href="#") 〒 100
          a(href="#") 台北市中正區金山北路1號12F
          a(href="#") Email：service@sqrhome.com
          a(href="#") TEL：+886-2-3393-1393

      .col-md-3.align-self-start

      #footer-totop.d-flex.align-items-center.flex-column
        .hand.mb-4
          img(alt="point finger", src=require("@images/footer-top-hand.svg"))

        .button.mb-4

        #arrow-wrapper
          .arrow.mb-2
          .arrow.mb-2
          .arrow.mb-2

        h5.footer-cat-title UP

  #footer-bottom.text-center
    Copyright Copyright © 2017 sqrhome Inc. All rights reserved

style.

script.
